:root {
    --cream-color: #f0efdf;
    --dark-purple: #54048a;
    --dark-green: #366b0f;
}

body {
    background-color: var(--cream-color);
    color: var(--dark-purple);
}

.navbar a {
    font-size: 16px;
}

.navbar-custom {
    color: var(--dark-purple);
    background-color: var(--cream-color);
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}
