:root {
    --cream-color: #f0efdf;
    --dark-purple: #54048a;
    --dark-green: #366b0f;
}

body {
    background-color: var(--cream-color);
    color: var(--dark-purple);
}

.navbar-custom {
    color: var(--dark-purple);
    background-color: var(--cream-color);
}
